li {
  list-style-type: none;
  width: 33%;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 25px;
}

/* Your code here */
li[data-type="drinks"] {
  background-color: rgb(205, 226, 226);
}
li[data-type="bakery"] {
  background-color: rgb(136, 190, 145);
}
li[data-type="canned"] {
  background-color: rgb(219, 221, 82);
}
li[data-type="dairy"] {
  background-color: aqua;
}
li[data-type="frozen"] {
  background-color: rgb(132, 69, 173);
}
li[data-type="meats"] {
  background-color: rgb(199, 166, 77);
}
li[data-type="produce"] {
  background-color: rgb(209, 80, 166);
}
li[data-type="toiletries"] {
  background-color: rgb(221, 38, 63);
}
li[data-type="other"] {
  background-color: rgb(123, 17, 245);
}
