.navBrand {
  color: var(--black-color) !important;
  font-weight: bold;
}
.active {
  font-weight: bolder;
  color: var(--active-color) !important;
}

.nav-link {
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  color: var(--black-color) !important;
  font-weight: bold;
}

.nav-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
