* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

.nav__upper {
  margin: 20px 10px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  color: black;
}

.upper__right a {
  color: green;
  text-decoration: none;
  padding: 10px;
}

.get-started {
  border: 1px solid green;
  border-radius: 5px;
}

.nav__lower {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.nav__lower a {
  padding: 10px;
  text-decoration: none;
  color: gray;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 10px;
}

.content h1 {
  text-align: center;
  margin-bottom: 10px;
}

.main__img {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.content p {
  text-align: justify;
  margin: 10px 0;
  line-height: 1.5em;
}

.content h2 {
  margin: 20px 0;
}

.external_links {
  padding-left: 30px;
  margin: 20px 0;
  line-height: 1.5em;
}

.grid {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}

.grid a {
  text-decoration: none;
  margin: 10px 0;
  color: black;
}

.footer {
  margin: 20px 10px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__right a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
